

/* ------------------------- ESTILOS BARRA ANUNCIOS-----------------------------------------------*/

.container-anuncios, .container-anuncios li{
    background-color: $bg-color;
    padding: 0.30rem;
    list-style: none;
    text-align: center;
}

/*------------------------- ESTILOS LOGO LOZANIA--------------------------------------------------------*/

.container-logo{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 2rem;
margin: 2 rem;
background-color: $bg-color-logo;
flex-wrap: nowrap;

}

/*-------------------------------------- ESTILOS NAVBAR---------------------------------------------*/

.navbar{
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    li{
        display:inline-block 
    }
    a{
        text: {
            transform: uppercase;

        }
        font: {
            color: $font-color ;
            font-family: $font-family;
            width: bold;
        }
    }
}


.dropdown-menu{

 a{
    padding: 0rem;
    margin: 0.50rem;
    color: $font-color;
}
}


/*------------------------------------- ESTILOS CARROUSEL---------------------------------------------*/

.carousel-item{
  justify-content: center;
}

/*Titulos y Desripcion tratamientos*/

.titulos{
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 1000;
    text-align: center;
    list-style: none;
    padding: 1rem;
    font-family: $font-family;
    font-style: normal;
    color: $font-color;
    background-color: $bg-color-titulos;
    margin: 2rem;
    
}   
.descripcion{
    text-align:justify;
    list-style: none;
    padding: 00.50rem;
    margin: 1rem;
    font-family: $font-family;
    font-weight: 550;
    font-size: large;
    line-height: 2rem;
    color: $font-color;

}

/* --------------CARDS---------- */


.container-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .container-card{
        margin: 0.25rem;
    }
    
   

}
    
.container-button button{
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 15rem;
    border: #b9b8b8 solid;
    border-radius: 1.5rem;
    background-color: #ccfaec;
    color: $font-color;
    align-items: center;
    text-transform: uppercase;
    font-family:$font-family;
    font-weight: 600;
    font-size: medium;
    display: flex;
    flex-direction: column;
    
    
    
}

.container-button{
    align-self: center;
    align-items: center;
}

.container-image-card{
    background-color: #aaf1f3;
    border: solid;
    color: #aaf1f3;
}

/*---------------- Estilos y transformaciones botones---------------*/

button{
    cursor: pointer;
    text-align: center;
    position: center; 

    
}

button:hover, button:focus,.btn{
    color: $font-color;
    color: $color-hover;
    font-family: $font-family;

}

button:hover{
    transform: scale(1.1);
}

.nav-item a a:hover{
    cursor: pointer;
    color: $color-hover;
}

button a{
    text-decoration: none;
    color: gray;
}
button a:hover{
    cursor: pointer;
    color: $color-hover;
}
form {
    .btn{
        color: $font-color;
} 
}  

/*---------------------------------------ESTILOS FOOTER---------------------------------------------------------------------------*/
footer{
    background-color: $bg-color-footer;
    li{
        list-style: none;
        cursor: pointer;
        :hover{
           color: $color-hover;
        }
    
    }
    a,h6{
        text-decoration: none;
        color: $font-color ;
        font-family: $font-family;
        width: bold;
        }
    }

.container-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    padding: 2.50rem;   
    
}

/* ---------------------------------------------------RESPONSIVE ----------------------------------------------------------------*/

/*MOBILE*/
@media (min-width: 360px) {
    .container-cards{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        align-items: center;
    }
    .container-footer{
        display: flex;
        flex-direction: column;  
        align-items: center;
        align-content: center;
        
    }

}

@media (min-width: 576px) { 
    
    .container-cards{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        align-items: center;
 }
   .container-footer{
    display: flex;
    flex-direction: column;  
    align-items: center;
    align-content: center;
    
}

}
 /*Tablet*/
 @media (min-width: 768px) {
     .container-cards{
         display: flex;
         flex: row;
         align-items: space-around;
     }
     .container-texto-section h2,h4{
         text-align: center;
     }
     .container-footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1rem;
        padding: 2.50rem;   
        
    }
  }

/*Desktop*/

@media (min-width: 992px){

.container-cards{
    display: flex;
    flex-direction: row;
    align-items: space-around;   

}

.navbar-toggler-icon{
    display: none;
}
.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    padding: 2.50rem;   
    
}
}