
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

$bg-gradient:linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
$bg-color: #aaf1f3;
$font-family:'M PLUS 2', sans-serif;
$bg-color-logo:aliceblue;
$font-color: rgb(58, 57, 57);
$bg-color-titulos: #a6d1db;
$bg-color-footer:#a6dbdd;
$color-hover: #027250;


body{
    background-image: $bg-gradient;
    font-family: $font-family;
    color: $font-color

}

@import"mainpage";
@import"contacto";
@import"cursos";
@import"limpieza";
@import"presoterapia";
@import"peeling";
@import"celulitis";
@import"aliviodolor";
@import"fisioterapia";
@import"rehabilitacion";
@import"drenaje";
@import"pilatescolumna";














