
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

$bg-gradient:linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
$bg-color: #aaf1f3;
$font-family:'Ubuntu', sans-serif;
$bg-color-logo:aliceblue;
$font-color: grey;
$bg-color-titulos: #a6d1db;
$bg-color-footer:#a6dbdd;
$color-hover: #027250;


body{
    background-image: $bg-gradient;
    font-family: $font-family;

}

@import"mainpage";
















