
$bg-gradient:linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
$bg-color: #aaf1f3;
$font-family:'Ubuntu', sans-serif;
$bg-color-logo:aliceblue;


body{
    background-image: $bg-gradient;
    font-family: $font-family;

}

@import"mainpage";
















